{% extends "layout.html" %}
{% block title %}Hacker School Faces Game!{% endblock %}
{% block content %}
<h1>Choose which batch you want to guess from...</h1>
<form id="batch_select" method="post" action="choose_batch">
  <fieldset>
    <legend>Select Batch</legend>
    <label>Choose batch that you want to see faces from.</label>
    <select multiple="multiple" name="batch" action="choose_batch">
      {% for batch in batches %}
      <option value="{{ batch }}">{{ batch }}</option>
      {% else %}
      <option>Something is wrong, no entries!</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn">Submit</button>
  <fieldset>
</form>
{% endblock %}
